.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.body {
  font-family: 'Oswald', sans-serif !important;
  background-color: rgba(158, 187, 146, 0.596);
}

/* https://i.pinimg.com/originals/0c/96/b1/0c96b19dc89ffdaa7ff737cfc04a095f.png */
.login-background {
 background-image: url('https://cdn.pixabay.com/photo/2012/08/27/14/19/evening-55067_960_720.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 background-position: top;
 padding-top: 10%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 12px;
}

.column {
  /* float: left; */
  display: inline;
  margin-right: 5%;
  /* width: 25%; */
}
.column:last-child{
  margin-right: 0px;
}


.ui.inverted.segment.navbar {
  border-radius: 0%;
  margin-bottom: 0%;
}

.ui.container.form-background {
  background: rgba(255, 255, 255, 0);
  width: 30%;
}

.ui.form.user-form {
  background: rgba(255, 255, 255, 0.383);
}

.ui.form.skill-form {
  background: rgba(255, 255, 255, 0);
  width: 35%;
  padding-top: 0%;
  margin-left: 33%;
}

.profile-img {
  /* width: auto; */
  max-width: 20vh;

}
.center-my-img {
    overflow: hidden; 
    text-align:center
}

.review-form {
  position: top;
  top: 0;
  background-color: rgba(0, 128, 0, 0.651);
  border-radius: 8px;
  width: 350px;
}

.main-div {
  display: flex;
  /* height: 100vh; */
  margin: auto;
  padding: auto;
  background-image: url('https://storage.needpix.com/rsynced_images/landscape-308706_1280.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 5%;
  margin-left: -2px;
}

.review-list {
  background-color: rgba(223, 182, 3, 0.705);
  width: 350px;
  border-radius: 8px;
  margin-top: 50px;
  padding: 10px;
  
}

.review-list p {
  word-wrap: break-word;
}


.secondary-div {
  height: 33%;
  flex: 50%;
}

.seller{
  width: 33vw;
  height: 100vh;
  margin-left: 85px;
  margin-top: 20px; 
  text-align: center;
  padding: 5px;
}

.review-container{
  margin-top: 20px;
  padding: 5px;
  /* margin:auto; */
}


.collection-background {
  margin-top: 10px;

}

