.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.body {
  font-family: 'Oswald', sans-serif !important;
  background-color: rgba(94, 189, 94, 0.397);
  height: 100%;
}

/* https://i.pinimg.com/originals/0c/96/b1/0c96b19dc89ffdaa7ff737cfc04a095f.png */
.login-background {
 background-image: url('https://cdn.pixabay.com/photo/2012/08/27/14/19/evening-55067_960_720.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 background-position: top;
 padding-top: 10%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 12px;
}

.column {
  /* float: left; */
  display: inline;
  margin-right: 5%;
  /* width: 25%; */
}
.column:last-child{
  margin-right: 0px;
}


.ui.inverted.segment.navbar {
  border-radius: 0%;
  margin-bottom: 0%;
}

.ui.container.form-background {
  background: rgba(255, 255, 255, 0);
  width: 30%;
}

.ui.form.user-form {
  background: rgba(255, 255, 255, 0.383);
}

.ui.form.skill-form {
  background: rgba(255, 255, 255, 0);
  width: 35%;
  padding-top: 0%;
  margin-left: 33%;
}

.profile-img {
  /* width: auto; */
  max-width: 20vh;

}
.center-my-img {
  overflow: hidden; 
  text-align: center;
}

.review-form {
  padding: 15px;
  position: top;
  top: 0;
  background-color: rgba(15, 156, 15, 0.507);
  border-radius: 8px;
  width: 450px;
}
.raulplz{
  margin-bottom: 10px;
  text-align: center;
}

.main-div {
  height: 100vh;
  display: flex;
  margin: auto;
  padding: auto;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a138b339-1ffd-4098-9069-0cf192a7bd1d/da4r9or-368ae606-719c-48aa-a5d7-ebed2e518c4a.png/v1/fill/w_1024,h_641,strp/flat_design_landscape_by_plasticboredom_da4r9or-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQxIiwicGF0aCI6IlwvZlwvYTEzOGIzMzktMWZmZC00MDk4LTkwNjktMGNmMTkyYTdiZDFkXC9kYTRyOW9yLTM2OGFlNjA2LTcxOWMtNDhhYS1hNWQ3LWViZWQyZTUxOGM0YS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vhrVqdgLo6keCOJY0twa71kLhcWeifmOqr-bRgwpnns');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 5%;
  margin-left: -2px;
}

.review-list {
  background-color: rgba(238, 201, 39, 0.466);
  width: 450px;
  border-radius: 8px;
  margin-top: 50px;
  padding: 10px;
  height: 40%;
  
}

.the-review{
  font-family: 'Roboto Condensed', sans-serif;
  height: 15%;

}

.review-list p {
  word-wrap: break-word;
}


.secondary-div {
  height: 33%;
  flex: 50%;
}

.seller{
  width: 25vw;
  height: 70vh;
  margin-left: 85px;
  margin-top: 20px; 
  text-align: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 20px;
  margin-right: 95px;

}

.review-container{
  margin-top: 20px;
  padding: 5px;
  /* margin:auto; */
}


.collection-background {
  margin-top: 10px;
  /* background-color: rgba(94, 189, 94, 0.397); */
  height: 100vh;
}

